<!DOCTYPE html> 
<html>
    <head>
        <link rel="stylesheet" href="./css/styles.css"> 
    </head>    
        <body> 
           {{>header}} 
           <p>this site is basically created for forecasting weather of respective location. it fetches data from mapbox.com</p>
           
            <img src="/image/img.jpeg">
           
            <p>created by {{devloper}}</p>
            {{>footer}}
        </body>
    
</html>